*~
build
*.class
.classpath
dist
*.ear
.gradle
gradle-app.setting
.gradletasknamecache
# gradle/wrapper/gradle-wrapper.properties
!gradle-wrapper.jar
hs_err_pid*
.idea
*.iml
*.jar
nb*
nbproject
nb*.xml
nb-*.xml
out
.project
.settings
target
*.war
.factorypath
.vscode
